{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
{#  {{ form.as_p }}#}
    <p>
        <label for="id_email">E-mail:</label>
        <input type="email" name="email" placeholder="E-mail地址" required id="id_email" class="textinput textInput form-control form-control">
    </p>
    <p>
        <label for="id_username">用户名:</label>
        <input type="text" name="username" placeholder="用户名" autofocus="autofocus" minlength="1" maxlength="150" required id="id_username" class="textinput textInput form-control form-control">
    </p>
    <p>
        <label for="id_password1">密码:</label>
        <input type="password" name="password1" placeholder="密码" required id="id_password1" class="textinput textInput form-control form-control">
    </p>
    <p>
        <label for="id_password2">密码(重复):</label>
        <input type="password" name="password2" placeholder="密码(重复)" required id="id_password2" class="textinput textInput form-control form-control">
    </p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="pull-right btn btn-info btn-sm rounded-0" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
